<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 600px;
  }
</style>


<div class="message-content">
  <p>Hello there, {{name}}</p>

  <p>We received an account recovery request on GoBarber for {{email}}.</p>
  <p>If you initiated this request, set a password in the link below.</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>

  <p>Don’t leave it too late though, this link is only available for 02 hours.</p>
</div>
